dist/
.DS_Store
node_modules/
mobile/.env.local
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/app/google-services.json
mobile/ios/Runner/GoogleService-Info.plist
